* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.contenedor {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(90px, 90px) auto;
    grid-template-rows: 60px auto;
    grid-template-areas: "header header"
        "menu contenido";

}

.contenedor.active {
    grid-template-columns: minmax(300px, 18%) auto;
    transition: all 3s ease 1s;
}
